@import url(http://fonts.googleapis.com/css?family=Raleway:700);

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background:
		no-repeat center center fixed;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	background-color: #342643;
	height: 100%;
}

.text-wrapper {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.title {
	font-size: 6em;
	font-weight: 700;
	color: #EE4B5E;
}

.subtitle {
	font-size: 40px;
	font-weight: 700;
	color: #1FA9D6;
}

.buttons {
	margin: 30px;
}

.buttons a.button {
	font-weight: 700;
	border: 2px solid #EE4B5E;
	text-decoration: none;
	padding: 15px;
	text-transform: uppercase;
	color: #EE4B5E;
	border-radius: 26px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.buttons a.button:hover {
	background-color: #EE4B5E;
	color: white;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}